*{
    margin:0%;
    padding:0%;
 box-sizing: border-box;
 text-decoration:none;
 list-style-type:none;
}

body{
    background-image: url(../img/Rectangle\ 1.png);
    background-size:90%;
    background-repeat:no-repeat;
    background-position-y:210px;
   
  
    
}
.flex{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
header{
    padding-top:50px;
}
.burgermenu{
    text-align:right;
    font-size:28px;
    display:none;
}
header ul{
    width:592px;
    height:70px;
    margin-left:637px;
    margin-bottom:94px;

}

header ul a{
    padding:24px 26px;
    font-size:18px;
    color:#000000;
    background-color:#C4C4C4;
    border-radius:0 35px 0 35px;
}
header ul a:hover{
    background-color:#79B331;
    color:#FFFFFF;
    cursor:pointer;
}
.mart{
    width:420px;
    height:196px;
    margin-left:806px;
    background-color:none;
}
.wre{
    width:32px;
    height:32px;
    background-color:#79B331;
    position:relative;
    top:0;
    left:0;
    border-radius:50%;
    animation:triali 4s infinite;
}

.text{
    text-align:center;
}
.one{
    font-size:18px;
    
}
.two{
    font-size:36px;
    margin:22px 0 28px 0;
}
@keyframes triali {
    0%{top:0; left:0;}
    25%{top:0; left:388px;}
    50%{top:164px ; left:388px;}
    75%{top:164px; left:0;}
    100%{top:0; left:0;}
}
.martkutxedi{
    width:800px;
    height:430px;
    margin:150px 20px 50px 400px;
    background-color:none;
    position:relative;
}
.gero{
    width:1px;
    height:430px;
    background-color:#C4C4C4;
    margin:0 auto;
}
.figura{
    width:400px;
    height:100px;
    background-color:none;
   
    
}
.erti{
    position:absolute;
    top:0;
    left:0;
   
}
.ori{
    position:absolute;
    top:100px;
    left:50%;
}
.sami{
    position:absolute;
    top:200px;
    left:0;
}
.otxi{
    position:absolute;
    top:300px;
    left:50%;
}
.figura p{
    width:85%;
    
}
.fotoli{
    width:70px;
    height:70px;
    background-color:#C4C4C4;
    border-radius:0 35px 0 35px;
   
}

.shebrunebuli{
    transform:rotate(90deg);
}

.fotoli:hover{
    background-color:#79B331;
}
.figura p:hover{
    color:#79B331;
}

@media only screen and (max-width:1024px) {
body{
    background-image: url(../img/Rectangle\ 1.png);
    background-size:160%;
    background-repeat:no-repeat;
    background-position-x:-210px;
    background-position-y:50px
    
   }
   header ul{
    margin-left:250px;
    margin-bottom:94px;
   }
   .mart{
    margin-left:540px;
    }
    .martkutxedi{
margin-top:200px;
        width:580px;
        height:510px;
    }
    .shebrunebuli{
        transform:none;
        position:absolute;
    right:0;
    }
  .gero{
    margin-left:580px;
    height:510px;
  }
 
 .figura{
    width:100%;
 }
  .ori{
    position:absolute;
    top:100px;
    left:0px
  }
  .otxi{
    position:absolute;
    top:300px;
    left:0px;
  }
}
@media only screen and (max-width:414px) {
header{
    height:80px;
    
}
header ul li{
  display:none;
   
}
.burgermenu{
    display:block;
    color:#C4C4C4;
    text-align:right;
    margin-right:30px;
    
   
}
.mart{
margin:30px auto;
}

.martkutxedi{
    margin:40px auto;
    width:410px;
    height:640px;
  
 }
.gero{
    display:none;
}
.figura{
    width:100%;
    height:200px;
   
   
}

.fotoli{
    position:absolute;
    top:0;
    left:50%;
}

.figura p{
   width:85%;
   height:100px;
   margin-top:30px;
   margin-left:30px;
   font-size:14px;
   text-align:center;
   
}
.shebrunebuli{
    transform:none;
}
  }
  
  
  
